<div [class]="themeClass" fxFlex fxLayout="column">
  
  <mat-card class="mat-card-red" *ngIf="errorLabel" fxLayout="column" fxLayoutGap="0.5em;">
    <label>Sorry that this error happened! Please copy the following error and contact @XrplServices on twitter or send a mail to: info@xrpl.services . Thanks for your help!</label><br>
    <label class="break-words" (click)="copyError()">{{errorLabel}}</label>
    <button mat-button class="xumm-grey-background" aria-label="Copy Error" (click)="copyError()">
      Copy&nbsp;<mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
    </button>
  </mat-card>

  <!--label *ngIf="infoLabel" style="color: red">{{infoLabel}}</label><br><br>
  <label *ngIf="infoLabel2" style="color: red">{{infoLabel2}}</label>
  <label *ngIf="infoLabel3" style="color: red">{{infoLabel3}}</label-->

  <div *ngIf="!initializing && xummOutdated">
    <mat-card fxFlex fxLayout="column" fxLayoutAlign="start center" class="mat-card-orange margin-5">
      <label style="text-align: center;">Your current Xumm/Xaman App version is: {{xummMajorVersion}}.{{xummMinorVersion}}.</label>
      <label>&nbsp;</label>
      <label style="text-align: center;">Please update your Xumm/Xaman App to version 2.6 or higher to be able to use this xApp.</label>
    </mat-card>
  </div>

  <div *ngIf="!initializing && !xummOutdated">
    <mat-vertical-stepper linear #importStepper class="theme-background">
      
      <mat-step completed="false" editable="false" fxLayout="column" fxLayoutGap="0.5em">
        <mat-card fxLayout="column" fxLayoutGap="1em">
            <ng-template matStepLabel>Description</ng-template>
            <label>This xApp will guide you through the process of importing / activating your account on the Xahau network.</label>
            <label>Since the XRP Ledger and the Xahau Network use the same address and signing algorithms, the same account and key (seed / secret) can be used on both networks.</label>
            
            <label>By importing your XRP Ledger account into Xahau using this xApp, no XRP are lost or burned other than the normal transaction fee.</label>
            <label>Once the import process has completed, you will be gifted 2 XAH on the Xahau network. (XAH = native currency on Xahau)</label>
            <label>This will cover the the account reserve, (currently 1 XAH) and will give you the ability to create up to 5 objects on Xahau, such as Trustlines, Escrows, etc.</label>
            <label>This is a good start, right?</label>

            <div fxLayout="row">
              <mat-checkbox [(ngModel)]="termsAndConditions">
                Please read the
                <label class="xumm-orange" (click)="openTermsAndConditions()"> Terms & Conditions </label>
                and the
                <label class="xumm-orange" (click)="openPrivacyPolicy()"> Privacy Policy</label>
                . You must accept them before you can continue.
              </mat-checkbox>
            </div>
            
            <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!termsAndConditions">Next</button>
          </div>
        </mat-card>
      </mat-step>

      <mat-step completed="false" editable="false">
        <mat-card fxLayout="column" fxLayoutGap="0.5em">
            <ng-template matStepLabel>Account Selection</ng-template>
            <div fxLayout="column" fxLayoutGap="0.5em" *ngIf="originalAccountInfo">
              <label class="description">Which account would you like to import into Xahau?</label>
              <label *ngIf="originalAccountInfo && (originalAccountInfo.Account || originalAccountInfo.account)">Currently selected:</label>
              <label *ngIf="originalAccountInfo && originalAccountInfo.Account"><b>{{originalAccountInfo.Account}}</b></label>
              <label *ngIf="originalAccountInfo && originalAccountInfo.account"><b>{{originalAccountInfo.account}}</b></label>

              <mat-card *ngIf="originalAccountInfo && originalAccountInfo.Account && xahauAccountInfo && xahauAccountInfo.Account && !xrplAccountHasSignerList && !xrplAccountHasRegularKey && !loadingData" fxLayout="column"  class="mat-card-red">
                <label>Your XRPL account has already been imported/activated on the Xahau network.</label>
                <label>You can not claim the 2 XAH for importing an account anymore.</label>
              </mat-card>

              <div fxLayoutAlign="start center" style="padding-top: 0.5em;">
                <button mat-raised-button color="primary" (click)="changeAccount()" [disabled]="loadingData">{{originalAccountInfo && (originalAccountInfo.Account || originalAccountInfo.account) ? 'Change Account' : 'Sign In' }}</button>
              </div>
            </div>

            <div style="padding-top: 0.5em;" fxLayout="column" fxLayoutGap="0.5em">
              <mat-card fxLayout="column" *ngIf="testMode && !xrplAccountHasSignerList && !loadingData" fxLayout="column"  class="mat-card-orange">
                <label>You are connected to the Testnet. All transactions will be executed on the XRPL and/or Xahau TESTNETs!</label>
              </mat-card>

              <mat-card *ngIf="originalAccountInfo && originalAccountInfo.error && originalAccountInfo.error == 'actNotFound' && !xrplAccountHasSignerList && !loadingData" fxLayout="column" class="mat-card-red">
                <label>Your Account is not activated on the XRP Ledger {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
                <label>You can't use the 'Import' transaction to activate your account on Xahau.</label>
              </mat-card>

              <div *ngIf="originalAccountInfo && originalAccountInfo.Account && xahauAccountInfo && xahauAccountInfo.Account && !xrplAccountHasSignerList && xrplAccountHasRegularKey && !loadingData" fxLayout="column" fxLayoutGap="0.3em">
                <mat-card fxLayout="column" fxLayoutAlign="start center" class="mat-card-orange">
                  <label>Your Account is already imported or activated on the Xahau {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
                </mat-card>
                <label>&nbsp;</label>
                <label>You can not claim the 2 XAH for importing an Account anymore.</label>
                <label>However, you can continue to apply your Regular Key setting of your XRPL account on your Xahau account as well.</label>
              </div>

              

              <mat-card *ngIf="originalAccountInfo && xrplAccountHasSignerList && !loadingData" fxLayout="column"  class="mat-card-red">
                <label>This account has a SignerList set. Such accounts are currently not supported in this xApp.</label>
              </mat-card>
            </div>

            <div *ngIf="!originalAccountInfo || loadingData" fxLayoutAlign="start center">
              <label>Loading...</label>
              <label>&nbsp;</label>
              <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
            </div>

            <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
                <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!originalAccountInfo || !originalAccountInfo.Account || xrplAccountHasSignerList || (xahauAccountInfo.Account && !xrplAccountHasRegularKey) || loadingData">Next</button>
                <button mat-raised-button class="xumm-grey-background" (click)="moveBack()" [disabled]="!originalAccountInfo || loadingData">Back</button>
            </div>
        </mat-card>
      </mat-step>

      <mat-step completed="false" editable="false">
        <mat-card fxLayout="column" fxLayoutGap="0.5em">
            <ng-template matStepLabel>{{originalAccountInfo && xrplAccountHasRegularKey ? 'Set Regular Key' : 'Account Set'}}</ng-template>
            <div fxLayout="column" fxLayoutGap="0.5em" *ngIf="originalAccountInfo && !xrplAccountHasRegularKey">
              <mat-card class="mat-card-orange">
                <label>To create your account on the Xahau network, you will need to sign 2 separate transactions.</label>
              </mat-card>
              
              <label>The first is an empty AccountSet transaction which will prove that you own the XRPL account.</label>
              
              <div fxLayoutAlign="start center" style="padding-top: 0.5em;">
                <button mat-raised-button color="primary" (click)="executeBurnTransaction()" [disabled]="loadingData || (burn_tx_hash && burnSuccess)">Execute AccountSet</button>
              </div>
            </div>

            <div fxLayout="column" fxLayoutGap="0.5em" *ngIf="originalAccountInfo && xrplAccountHasRegularKey">
              <mat-card class="mat-card-orange" fxLayout="column">
                <label>We have detected that your account has a Regular Key set on the XRPL.</label>
              </mat-card>

              <label *ngIf="!xahauAccountInfo.Account">To import your account into Xahau and also to copy the Regular Key setting, we need to exeute a 'SetRegularKey' transaction.</label>
              <label *ngIf="!xahauAccountInfo.Account">This proves to the Xahau network that you are in control of the account and you will be able to import your account later on.</label>

              <label *ngIf="xahauAccountInfo.Account">To copy the Regular Key setting, we need to exeute a 'SetRegularKey' transaction.</label>
              <label *ngIf="xahauAccountInfo.Account">This proves to the Xahau network that you are in control of the account and you will be able to import your Regular Key setting later on.</label>
              
              <div fxLayoutAlign="start center" style="padding-top: 0.5em;">
                <button mat-raised-button color="primary" (click)="executeBurnTransaction()" [disabled]="loadingData || (burn_tx_hash && burnSuccess)">Execute SetRegularkey</button>
              </div>
            </div>

            <div style="padding-top: 0.5em;">
              <mat-card *ngIf="burn_tx_hash && !burnSuccess && !loadingData" fxLayout="column" class="mat-card-red">
                <label>Transaction not successful on the XRP Ledger {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
                <label *ngIf="burnErrorLabel">{{burnErrorLabel}}</label>
              </mat-card>

              <mat-card *ngIf="burn_tx_hash && burnSuccess && !loadingData" fxLayout="column" class="mat-card-green">
                <label>Transaction successful on the XRP Ledger {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
              </mat-card>
            </div>

            <div *ngIf="!originalAccountInfo || loadingData" fxLayoutAlign="start center">
              <label>Loading...</label>
              <label>&nbsp;</label>
              <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
            </div>

            <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
                <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="!originalAccountInfo || !burn_tx_hash || !burnSuccess|| loadingData">Next</button>
                <button *ngIf="!burnSuccess" mat-raised-button class="xumm-grey-background" (click)="moveBack()" [disabled]="!originalAccountInfo || loadingData">Back</button>
            </div>
        </mat-card>
      </mat-step>

      <mat-step completed="false" editable="false">
        <mat-card fxLayout="column" fxLayoutGap="0.5em">
            <ng-template matStepLabel>Import Transaction</ng-template>
            <div fxLayout="column" fxLayoutGap="0.5em" *ngIf="originalAccountInfo">
              <mat-card class="mat-card-orange">
                <label>To activate your Xahau account, we need to execute an "Import" transaction on the Xahau {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
              </mat-card>

              <label>If you click the button below, an Import transaction for your account is generated and you will be asked to switch the network to the Xahau {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
              <label>Please confirm switching the network and sign the transaction.</label>

              <mat-card *ngIf="xrplAccountHasRegularKey && xahauAccountInfo.Account && regularKeyAccount != originalAccountInfo.Account && !(import_tx_hash && importSuccess)" fxLayout="column" class="mat-card-orange">
                <label>You HAVE TO sign this transaction with:</label>
                <label><b>{{signingAccountForImport}}</b></label>
                <label>Otherwise the transaction will fail!</label>
              </mat-card>
              
              <div fxLayoutAlign="start center" style="padding-top: 0.5em;">
                <button mat-raised-button color="primary" (click)="importTransaction()" [disabled]="loadingData || errorBlob || (import_tx_hash && importSuccess)">Import Account</button>
              </div>
            </div>

            <div style="padding-top: 0.5em;">
              <mat-card *ngIf="import_tx_hash && !importSuccess && !loadingData" fxLayout="column" class="mat-card-red">
                <label>The Import transaction was not successful on the Xahau {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
                <label *ngIf="importErrorLabel">{{importErrorLabel}}</label>
              </mat-card>

              <mat-card *ngIf="import_tx_hash && importSuccess && !loadingData" fxLayout="column" class="mat-card-green">
                <label>The Import transaction was successful on the Xahau {{testMode ? 'Testnet' : 'Mainnet'}}.</label>
                <label>You can close the xApp now!</label>
              </mat-card>
            </div>

            <div *ngIf="!originalAccountInfo || loadingData" fxLayoutAlign="start center">
              <label>Loading...</label>
              <label>&nbsp;</label>
              <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
            </div>

            <div *ngIf="import_tx_hash && importSuccess && !loadingData" style="padding-top: 1em;" fxLayoutGap="0.5em" fxLayoutAlign="center center">
              <button mat-raised-button class="xumm-grey-background" (click)="close()" [disabled]="loadingData">Close</button>
          </div>
        </mat-card>
      </mat-step>

    </mat-vertical-stepper>
  </div>
</div>